body {
    background-color: black;
    zoom: 100%;
}
.container2 {
}
.header {
    margin-top: 10px;
    display: flex;
    flex: 1fr;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    background-color: rgb(42, 41, 41);
    z-index: 100;
    height: 70px;

}
.header-logo {
    
}
.header-PC{
    
}
.header-Products {
  position: relative;

}
.header-Products:hover .web-product {
  display: block;

}
.header-download {
   
    width: 200px;
    
}
.header-search {
   position: relative;
}
.web-logo {
    width: 149px;
    margin-bottom: -10px;
    
}
.button-image {
    width: 50px;
    margin-bottom: -19px;
    background-color: rgb(42, 41, 41);
    margin-left: -5px;
}
.web-logo {

}
.button-search {
    background-color: rgb(42, 41, 41);
    border: none;
    transition: background-color 0.15s;
}
.button-search:hover .button-image {
    background-color: rgb(45, 44, 44);
    cursor: pointer;
}
.button-search:active .button-image {
    background-color: rgb(45, 44, 44);
    cursor: pointer;
    opacity: 0.8;
}
.web-products {
    margin-left: 60px;
    margin-right: 60px;
    background-color: rgb(42, 41, 41);
    color:white;
    font-weight: 700;
    font-size: 20px;
    border: none;
    font-family: arial;
    transition: opacity 1s;
  
}
.web-products:hover{
    color:red;
    cursor: pointer;
   

}
.web-PC {
    margin-left: 60px;
    margin-right: 60px;
    background-color: rgb(42, 41, 41);
    color:white;
    font-weight: 700;
    font-size: 20px;
    border: none;
    font-family: arial;
}
.web-PC:hover {
    color:red;
    cursor: pointer;

}
.web-download {
    margin-left: 60px;
    margin-right: 60px;
    background-color: rgb(42, 41, 41);
    color:white;
    font-weight: 700;
    font-size: 20px;
    border: none;
    font-family: arial;
}
.web-download:hover {
    color:red;
    cursor: pointer;

}
.web-search {
    width: 300px;
    height: 50px;
    outline:none;
    margin-left: 150px;
    
}
.web-product {
    position: absolute;
    background-color: rgb(42, 41, 41);
    width: 400px;
    height: 120px;
    right: 0;
    left: 0;
    margin-top: 0px;
   display: none;
    opacity: 0.8;
    
    
    
}
.GPU {
    margin-left: 10px;
    margin-top: 10px;
    background-color: rgb(42, 41, 41);
    border:none;
    transition: opacity 0.15s;
    margin-top: 54px;
}
.card{
    width: 50px;
    background-color: rgb(42, 41, 41);
    
}
.GPU:hover .card-red {
    opacity: 1;
    cursor: pointer;
}
.GPU:hover .web-product{
    opacity: 1;
}
.gaming-mouse {
    background-color: rgb(42, 41, 41);
    width: 50px;
}
.g-mouse {
    background-color: rgb(42, 41, 41);
    border: none;
    margin-left: 10px;
}
.card-red {
    width: 50px;
    position: absolute;
    left: 0;
    margin-left: 16px;
    opacity: 0;
}
.keyboard {
    width: 80px;
    background-color: rgb(42, 41, 41);
}
.g-keyboard {
    background-color: rgb(42, 41, 41);
    border: none;
}
.gaming-mouse-red {
    background-color: rgb(42, 41, 41);
    width: 50px;
    margin-left: -50px;
    opacity: 0;
    transition: opacity 0.15s;
}
.g-mouse:hover .gaming-mouse-red {
    opacity: 1;
    cursor: pointer;
}
.keyboard-red {
    width: 80px;
    background-color: rgb(42, 41, 41);
    margin-left: -80px;
    opacity: 0;
    transition: opacity 0.15s;
}
.g-keyboard:hover .keyboard-red {
    opacity: 1;
    cursor: pointer;
}
.green {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("120599.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    border-bottom: solid 10px red ;
    
    
    
}
.keyboard1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: opacity 0.15s;
    background-attachment: fixed ;
    

}
.wallpaper {
    margin-top: 150px;
    width: 400px;
    height: 500px;
    border:solid 2px gray;
    margin-right: 50px;
    box-shadow: 1px 4px 13px rgba(228, 224, 224, 0.8);
}
.wallpaper:hover {
   
}
.mouse1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.wallpaper1{
    margin-top: 150px;
    width: 400px;
    height: 500px;
    border:solid 2px gray;
    margin-right: 50px;
    box-shadow: 1px 4px 13px rgba(228, 224, 224, 0.8);

}
.headset {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    

}
.wallpaper2 {
    margin-top: 150px;
    width: 400px;
    height: 500px;
    border:solid 2px gray;
    margin-right: 50px;
    box-shadow: 1px 4px 13px rgba(228, 224, 224, 0.8);
}
.g-card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    

}
.wallpaper3 {
    margin-top: 150px;
    width: 400px;
    height: 500px;
    border:solid 2px gray;
    box-shadow: 1px 4px 13px rgba(228, 224, 224, 0.8);
    
    
}
.b1 {
    background-color: rgb(42, 41, 41);
    width: 397px;
    height: 30px;
    bottom: 0;
    position: absolute;
    text-align: center;    
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 55px;
    transition: height 0.15s;
    
   
}
.Order {
    opacity: 0;

}
.Order:hover {
    cursor: pointer;
}
.Order:active {
    opacity: 0.5;
    cursor: pointer;
}
.keyboard1:hover  .b1{
   opacity: 0.8;
   height: 240px;
   display: block;
}
.keyboard1:hover .Order {
    opacity: 1;
    margin-top: -90px;
    margin-bottom: -240px;
    border: none;
    background-color: red;
    color: white;
    font-family: arial;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    border-radius: 5px;
    transition: opacity 0.15s;
    opacity: 1;  
    margin-top: 90px; 
}
.b2 {
    position: absolute;
    background-color: rgb(42, 41, 41);
    width: 400px;
    height: 30px;
    bottom: 0;
    margin-left: -50px;
    text-align: center;
    transition: height 0.15s    ;
   
}
.Order2 {
    opacity: 0;
    

}
.Order2:hover {
    cursor: pointer;
    
}
.Order2:active {
    opacity: 0.5;
    cursor: pointer;
}
.mouse1:hover  .b2{
   opacity: 0.8;
   height: 240px;
}
.mouse1:hover .Order2 {
    margin-top: 90px;
    border: none;
    background-color: red;
    color: white;
    font-family: arial;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    border-radius: 5px;
    transition: opacity 0.15s;
    opacity: 1;
}
.b3 {
    position: absolute;
    background-color: rgb(42, 41, 41);
    width: 400px;
    height: 30px;
    bottom: 0;
    margin-right: 50px;
    text-align: center;
    transition: height 0.15s;
}
.Order3 {
    opacity: 0;
}
.Order3:hover {
    cursor: pointer;
}
.Order3:active {
    opacity: 0.5;
    cursor: pointer;
}
.headset:hover  .b3{
    height: 240px;
   opacity: 0.8;
  
}
.headset:hover .Order3 {
    border: none;
    background-color: red;
    color: white;
    font-family: arial;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    border-radius: 5px;
    transition: opacity 0.15s;
    opacity: 1;
    margin-top: 90px;
}
.b4 {
    position: absolute;
    background-color: rgb(42, 41, 41);
    width: 400px;
    height: 30px;
    bottom: 0;
    margin-right: 50px;
    text-align: center;
    transition: height 0.15s;
    margin-left: 50px;
    text-align: center;
    
}
.Order4 {
    opacity: 0;
}
.Order4:hover {
    cursor: pointer;
}
.Order4:active {
    opacity: 0.5;
    cursor: pointer;
}
.g-card:hover  .b4{
   opacity: 0.8;
  height: 240px;
}
.g-card:hover .Order4 {
    border: none;
    background-color: red;
    color: white;
    font-family: arial;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    border-radius: 5px;
    transition: opacity 0.15s;
    opacity: 1;
    margin-top: 90px;
}
.about {
    display: flex;
    grid-template-columns: 1;
    justify-content: center;
    align-items: center;
    right: 0;
    left: 0;
    background-color: rgb(42, 41, 41);
    bottom: 0;
    background-image: url("1111.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    margin-top: 2px;
    border-bottom:solid 10px red;
}
.about {
    
    
}
p {
    font-family: arial;
}
.info {
   color:white;
   position: absolute;
   left: 20px;
   margin-bottom: 350px;
   font-family: arial;
}
.cool-keyboard {
    margin-top: 90px;
    margin-left: 220px;
    transform: rotate(390deg);
}
.abouts {
    color:white;
    margin-bottom: 240px;
    line-height: 30px;
}
.heads {
    color:red;
    font-size: 50px;
}
.now {
    margin-left: -250px;
    margin-top: 50px;
    color:white;
    background-color: red;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 30px;
    border-top-left-radius: 30px;
    transition: opacity 0.15s;
}
.now:hover {
    opacity: 0.6;
    cursor: pointer;
}
.now:active {
    opacity: 0.4;
    cursor: pointer;
}
.last {
    position: absolute;
    margin-top: 600px;
    margin-bottom: -116px;
    color:greenyellow;
    background-color: rgb(42, 41, 41);
    height: 100px;
    width: 100%;
    background-image: ur("120613-removebg-preview.png");
    background-attachment: fixed;


}
.last-bg {
   width: 200px;
   position: absolute;
   right: 0;
}
.ig {
    background-color: rgb(42, 41, 41);
    width: 90px;
    
}
.instagram {
    background-color: rgb(42, 41, 41);
    border: none;

}
.fb {
    background-color: rgb(42, 41, 41);
    width: 100px;
    margin-bottom: 20px;
}
.GG {
    margin-top: 50px;
    display: inline;
}
.facebook {
    background-color: rgb(42, 41, 41);
    border: none;
    margin-top: -1150px;
}
.twit {
    background-color: rgb(42, 41, 41);
    width: 90px;
}
.twitter {
    background-color: rgb(42, 41, 41);
    border: none;
}
.GG2 {
    display: inline;
    width: 50px;
}
.us {
    position: absolute;
    right: 0;
    margin-right: 1250px;
    text-align: center;
}
.about-us {
    margin-top: 40px;
    background-color:rgb(42, 41, 41) ;
    color:White;
    border:none;
    font-family: arial;
    font-size: 20px;
    font-weight: 700;
}
.S {
    display: flex;
    position: absolute;
    right: 0;
    margin-right: -57px;
    margin-top: -53px;
    
}

